form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

h2{
    color:rgb(80, 0, 155);
    text-shadow: 0 0 0.1em rgba(116, 223, 112, 0.918), 0 0 0.1em rgba(116, 223, 112, 0.918),
		0 0 0.1em rgb(25, 13, 109);
    font-family: 'Teko', sans-serif;
    font-weight: 400px;
    margin: 0 0 1em;
    text-align: center;
}