form {
    max-width: 500px;
    margin: 0 auto;
    color: rgb(80, 0, 155)
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    box-shadow: 0 0 0.2em rgb(80, 0, 155);
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color:rgb(80, 0, 155);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.2em rgb(80, 0, 155);
}

button[type="submit"]:hover {
    background-color: #45a049;
}

h2{
    color:rgb(80, 0, 155);
    text-shadow: 0 0 0.1em rgba(116, 223, 112, 0.918), 0 0 0.1em rgba(116, 223, 112, 0.918),
		0 0 0.1em rgb(25, 13, 109);
    font-family: 'Teko', sans-serif;
    font-weight: 400px;
    padding: 0.5em;
    margin: 0 0 1em;
    text-align: center;
}

 
@media print {
    @page {
      margin-left: 0.8in;
      margin-right: 0.8in;
      margin-top: 0;
      margin-bottom: 0;
    }
 }
  
 .texto {
     text-align: justify;
       text-justify: inter-word;
 }
  