*{
    margin: 0;
    padding: 0;

}
body{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 20px;
    /* height: 100%; */
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}


header{

    background-color: black;
    padding: 0 0;
}

#columnasHeader{
    flex-flow: wrap;
    column-count:2;
    column-gap: 50px;
    column-rule: 4px none limegreen;
    list-style: none;
    -webkit-column-count: 2;
}

#columnasHeader li{
    margin:auto;
}
header li{
    font-size: 25px;
    text-shadow: 0 0 0.1em rgba(106, 3, 137, 0.722), 0 0 0.1em rgba(152, 2, 198, 0.722),
		0 0 0.1em rgba(152, 2, 198, 0.722);
    color: rgba(0, 255, 0, 0.708);
    font-family: 'Teko', sans-serif;
}
/* header h1{
    color:rgb(80, 0, 155);
    text-shadow: 0 0 0.1em rgba(116, 223, 112, 0.918), 0 0 0.1em rgba(116, 223, 112, 0.918),
		0 0 0.1em rgb(25, 13, 109);
    font-size: 2.5em;
    font-style: Italic; 
    /font-family: 'Teko', sans-serif;
    display: inline-block;
    position: relative;
    text-align: center; 
    bottom: 30px;
} */

nav{
    background-color: rgb(52, 0, 100);
    height: 100%;
    /* margin-bottom: 0.5em; */
}

@media (min-width≤800px){
    .nav {
        display: flex;
        flex-direction: column;

    }
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
    height: 100%;
}

nav ul li a{
    color: yellowgreen;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color:  rgba(55, 112, 74, 0.589);
    color: whitesmoke;
}

nav ul li a.activo{
    background-color:  rgb(55, 112, 74);
}

.holderMenu{
    width: 100%;
    margin: auto;
}

.holderMain{
    width: 100%;
}
footer{
    background-color: #000000;
    clear: both;
    color:  rgb(55, 112, 74);
    padding: 3em 0;
    font-style: oblique;
    margin-top: 2em;
    text-align: center;
}

.menuFooter{
    display:flex;
    flex-direction: column;
    background-color: black;
}

footer p{
    color: yellowgreen;
}



                                /* SECCION  HOME */
.encabezadoPag {
    color:rgb(52, 0, 100);
    text-shadow: 0 0 0.1em rgba(116, 223, 112, 0.918), 0 0 0.1em rgba(116, 223, 112, 0.918),
    0 0 0.1em rgb(25, 13, 109);
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom:1.5em;
    width:auto;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: flexbox;
}

.testimonio .autor{
    font-size:0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

                                /* ------------------------------------- */
                                /* SECCION NOSOTROS */

.historia p{
    font-size:0.8em;
    font-family:'Times New Roman', Times, serif;
}
.personas{
    overflow: hidden;
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.persona{
    width: auto;
    border: 1px dotted limegreen;
    border-radius: 0.25em;
    margin-left: 2.25%;
    margin-right: 2.25%;
    box-sizing: border-box;
    text-align: center;
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
        margin: 0.8em 0 1em;
        max-width:70%;
}
.persona h5{
    font-size: 0.9em;
}
.persona h6{
    font-size: 0.8em;
    font-style: italic;
}
.persona p{
    font-size: 0.7em;
    color: #444;
    text-align: justify;
    margin: 0 1em 1em;
}
.persona:first-child{
    margin-left: auto;
}

                        /* SECCION AMBIENTACION */

.locacion{
    border: 1px dotted limegreen;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}
.locacion .info{
    width: 75%;
}
.locacion .info h4{
    color:rgb(80, 0, 155);
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid yellowgreen;
    padding-bottom: 0.5em;
}
.locacion .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}
.locacion img{
    border-radius: 0.8em;
}
.locacion:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}
.locacion:nth-child(even) .info{
    float: left;
}
locacion:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;

}